.prodDetalle {
    margin-top: 1vh;
    display: flex;
    // justify-content: center;
    // flex-wrap: nowrap;
    // align-content: center;
    // width: 30px;

    .imagesDetalle{
        border-style: dotted;
        border-color: rgb(172, 97, 0);
        margin: 10px;
        padding: 30px;
    }    
}

.itemDetailsDetalle {    
    display: flex;
    flex-direction: column;
    align-content: space-between;
    justify-content: center;

    .detalle{
        display: flex;
        flex-direction: column;
        align-content: flex-start;
    }

    .precioProdDetalle {
        color: rgb(172, 97, 0);
        margin-bottom: 14px;
    }

    .cantidadDetalle{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.cardButton {
    background: rgb(13, 199, 206);
    border-radius: 10px;
    border-style: dotted;
    border-color: rgb(172, 97, 0);
    color: white;
    font-weight: 600;
    padding: 12px 12px;
    margin: 0.5vh;
}

.cardButton:hover{
    opacity: 2;
    color: black;
}
