.boxCarrito {
  background-color: red;
  width: 50px;
  height: 50px;
  margin: 10px;
  padding: 10px;
}

.prod {
  margin-top: 1vh;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}
.prod .images {
  width: 100%;
  border-style: dotted;
  border-color: rgb(172, 97, 0);
  margin: 10px;
  padding: 30px;
  transition: 1s;
}
.prod .images:hover {
  width: 102%;
}
.prod .prodList {
  justify-content: center;
  margin: 1vh;
}

.itemDetails {
  display: block;
  justify-content: center;
  align-items: center;
  margin: 0px 15px;
}
.itemDetails .precioProd {
  color: rgb(172, 97, 0);
  margin: 0 auto;
  display: flex;
  justify-content: center;
  margin-bottom: 14px;
  transition: 1s;
  opacity: 0.2;
}
.itemDetails .precioProd:hover {
  opacity: 3;
}
.itemDetails .cardButton {
  background: rgb(13, 199, 206);
  border-radius: 10px;
  border-style: dotted;
  border-color: rgb(172, 97, 0);
  color: white;
  font-weight: 600;
  padding: 12px 12px;
  margin: 0.5vh;
}
.itemDetails .cardButton:hover {
  opacity: 2;
  color: black;
}

.prodDetalle {
  margin-top: 1vh;
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  align-content: center;
  width: 30px;
}
.prodDetalle .imagesDetalle {
  border-style: dotted;
  border-color: rgb(172, 97, 0);
  margin: 10px;
  padding: 30px;
}

.itemDetailsDetalle {
  display: flex;
  flex-direction: column;
  align-content: space-between;
  justify-content: center;
}
.itemDetailsDetalle .detalle {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
}
.itemDetailsDetalle .precioProdDetalle {
  color: rgb(172, 97, 0);
  margin-bottom: 14px;
}
.itemDetailsDetalle .cardButton {
  background: rgb(13, 199, 206);
  border-radius: 10px;
  border-style: dotted;
  border-color: rgb(172, 97, 0);
  color: white;
  font-weight: 600;
  padding: 12px 12px;
  margin: 0.5vh;
}
.itemDetailsDetalle .cardButton:hover {
  opacity: 2;
  color: black;
}
.itemDetailsDetalle .cantidadDetalle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pos-center {
  position: fixed;
  top: calc(50% - 40px);
  left: calc(50% - 40px);
}

.loader {
  border: 10px solid #f3f3f3;
  border-top: 10px solid rgb(153, 114, 59);
  border-radius: 50%;
  width: 80px;
  height: 80px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  min-width: 290px;
  background-color: whitesmoke;
}

.menu {
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.header {
  background-image: linear-gradient(to right, rgb(153, 114, 59) 60%, white);
  display: flex;
  align-items: flex-end;
}

.cantidad {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spaceBetween {
  margin: 0.5vh;
  display: flex;
}
.spaceBetween .menu {
  margin: 3px;
  padding: 5px;
  border-radius: aqua;
  border-style: dashed;
  text-decoration: none;
  color: black;
}

/*# sourceMappingURL=styles.css.map */
