@import "carrito";
@import "detalle";
@import "loader";

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    min-width: 290px;
    background-color: whitesmoke;
}

.menu{
    display: flex;
    margin-top: 10px;
    align-items: center;
    justify-content: space-evenly;
}

.header{
    background-image: linear-gradient(to right, rgb(153, 114, 59) 60%, white);
    display: flex;
    align-items: flex-end;
}

.cantidad{
    display: flex;
    justify-content: center;
    align-items: center;
}

.spaceBetween{
    margin: 0.5vh;
    display: flex;

    .menu{
        margin: 3px;
        padding: 5px;
        border-radius: aqua;
        border-style: dashed;
        text-decoration: none;
        color: black;
    }
}







